body{
    background-color: #fafafa;
}
.capture{
    margin-left: 500px;
    margin-top: 138px;
    float: left;
}
.forum{
    margin-top: 263px;
    background-color: #ffff;
    border: solid 2px #E8E8E8;
    width: 358px;
    height: 382px;
    float: left;
}
.police{
    
    margin-left: 54px;
}
.clear{
    clear: both;
}
.appli{
    float: left;
    max-width: 153px;
    margin-left: 979px;
}
.f0n8F {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    padding: 0;
    position: relative;
    margin: 0;
    min-width: 0;
}
._9nyy2 {
    color: #999;
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform ease-out .1s;
    transition: transform ease-out .1s;
    transition: transform ease-out .1s,-webkit-transform ease-out .1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;}
    ._2hvTZ, ._9GP1n {
        background: #fafafa;
        width: 290px;

    }